@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

* {
  margin: 0;
  padding: 0;
}

#navbar {
  background: rgb(0, 0, 0, 0);
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: rgb(255, 255, 255);
}

#header-content {
  min-height: 95vh;
}

#main-title {
  color: white;
  font-family: 'Petit Formal Script', cursive;
  font-size: 90px;
  text-shadow: 0px 0px 5px #000000, 0px 0px 10px #000000;
  margin-top: 3vh;
  margin-bottom: 8vh;
}

.title-image {
  color:white;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 0px 5px #000000, 0px 0px 10px #000000;
}

.ant-progress-outer {
  margin-top: 60px;
  margin-left: 15vw;
  margin-right: 0;
  width: 70%;
}

.ant-progress-text {
  color: white;
}