.ant-upload.ant-upload-select-picture-card {
  width: 220px;
  height: 220px;
  margin: 0;
  box-shadow: 0px 0px 10px, 0px 0px 15px;
}

#stylized-canvas {
  width: 220px;
  height: 220px;
  margin: 0;
  border:1px solid #726768;
  box-shadow: 0px 0px 10px, 0px 0px 15px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #stylized-canvas {
    width: 350px;
    height: 350px;
  }

  .ant-upload.ant-upload-select-picture-card {
    width: 350px;
    height: 350px;
  }
}